.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15vh;
  box-sizing: border-box;
  padding: 15vh 0;
  align-items: center;
}

.bioText {
  box-sizing: border-box;
  height: 20vh;
  width: 40vw;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 5vh 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.bioSection {
  display: flex;
  align-items: center;
}

.bioImage {
  max-width: 50vw;
  max-height: 30vh;
  z-index: -1;
}

.bioSection:nth-child(odd) > .bioImage {
  transform: translateX(-10%);
}

.bioSection:nth-child(even) > .bioImage {
  transform: translateX(10%);
}

.bioSection:nth-child(odd) {
  flex-direction: row;
}

.bioSection:nth-child(even) {
  flex-direction: row-reverse;
}

