.bottomMenu
{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: min(11vw, 11vh);
  background-color: black;
  border-top: solid min(0.4vw, 0.4vh) #3858e5;
  display: flex;
  align-items: center;
}

.backButton 
{
  flex: none;
  width: min(30vw, 30vh);
}

.modeButton
{
  height: 100%;
}

.buttons 
{
  /* flex: auto; */
  height: 100%;
  display: flex;
}