:root {
  --size: 25vh;
  --half: calc(var(--size) / 2);
}

.blur {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.8);
  animation: forwards fade 2s;
}

img {
  position: absolute;
  animation-name: rollIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  width: var(--size);
  top: calc(50vh - var(--half));
}

@keyframes fade {
  from {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rollIn {
  from {
    left: calc(-3 * var(--size));
    transform: rotate(0);
  }
  75% {
    left: calc(50vw - var(--half));
    transform: rotate(720deg);
    opacity: 1;
  }
  to {
    left: calc(50vw - var(--half));
    transform: rotate(720deg);
    opacity: 0;
  }
}
